nav a {
  color: inherit;
  text-decoration: none;
  font-family: "Ranchers", cursive;
  color: #e7af00;
}

.titleYellow {
  color: #e7af00;
}

.titleRed {
  color: #c91919;
}

.titleGreen {
  color: #41a332;
}

.titleTortilla {
  color: #c39b77;
}

.link {
  font-size: 25px;
  letter-spacing: 2px;
}

.userGreeting {
  color: inherit;
  text-decoration: none;
  font-family: "Ranchers", cursive;
  color: #e7af00;
}
