nav a {
  color: inherit;
  text-decoration: none;
  font-family: "Ranchers", cursive;
  color: #e7af00;
}

.payLink {
  color: inherit;
  text-decoration: none;
}

.titleYellow {
  color: #e7af00;
}

.titleRed {
  color: #c91919;
}

.titleGreen {
  color: #41a332;
}

.titleTortilla {
  color: #c39b77;
}

.link {
  font-size: 20px;
  letter-spacing: 2px;
}

.userGreeting {
  color: inherit;
  text-decoration: none;
  font-family: "Ranchers", cursive;
  color: #e7af00;
  text-align: center;
  letter-spacing: 2px;
}

@media screen and (max-width: 650px) {
  .link,
  .userGreeting,
  .title {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    text-align: left;
    margin-top: 5px;
  }

  .title {
    font-size: 15px;
  }

  .links {
    align-items: flex-start;
  }
}
