.formatContainer{
  height: 100vh;
}

.outterFormSignUpContainer{
  display: flex;
  flex-direction: row-reverse;
  background: #9DA27A;
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  position: inherit;
  padding-right: 90px;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 2s ease;
}

.formSignUpContainer {
  align-self: center;
  padding: 1em;
  width: 50%;
  height: 80%;
  margin: 1em auto;
  border: 2px solid #b0bec5;
  border-radius: 6px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 2s ease;
  background: #9DA27A;
}

.formSignUpContainer label{
  font-size: 15px;
}

.formSignUpContainer h3 {
  text-align: center;
  font-size: 40px;
  font-family: 'Ranchers';
}

.formSignUpContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.formSignUpContainer form input {
  width: 100%;
  padding: 0.6em 1em;
  margin: 0.5em auto;
  font-size: 1rem;
  border-radius: 3px;
  border: 2px solid #e0e0e0;
  outline: none;
  transition: all 0.4s ease;
  background:lightgray;
}

.formSignUpContainer form button:hover {
  box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.5);
}

.formSignUpContainer form button {
  width: 50%;
  margin: 1em auto;
  background: goldenrod;
  border: none;
  color: white;
}

@media all and (min-width:350px) and (max-width:900px){
    .outterFormSignUpContainer{
    flex-direction: column-reverse;
  
    }
    .catSignUp{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }