.formatContainer {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.detail-container {
  border-radius: 25px;
  display: flex;
  justify-content: center;

  width: 60%;
  height: 700px;
  justify-content: center;
  align-items: center;

  background-color: #9da27a;
  margin: 125px auto;
  /* margin-left: 100px ; */
}

.taco-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  align-items: center;
  width: 100%;
  height: 275px;
}
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  position: relative;
  height: 350px;
  top: 45px;
  width: 50%;
}

.taco-detail-container img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 0px 20px;
  margin-top: 90px;
  border-radius: 15%;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.taco-detail-container img {
  width: 350px;
  height: 375px;
  padding: 0px 20px;
  margin-top: 130px;
}

.name {
  position: relative;
  right: 50px;
  bottom: 25px;
  font-size: 40px;
  color: aliceblue;
  font-family: "Ranchers", cursive;
}

.price {
  bottom: 25px;
  font-size: 20px;
  color: aliceblue;
  font-family: "Ranchers", cursive;
}

.check-box {
  font-family: "Ranchers", cursive;
  color: aliceblue;
}

@media only screen and (max-width: 1050px) {
  .taco-detail-container {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-content: center;
    height: 50%;
    margin: 50px auto;
  }
  .detail-container {
    height: fit-content;
  }

  .taco-detail-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */

    align-items: center;
    width: 100%;
    height: 275px;
  }

  .taco-detail-container img {
    height: 300px;
    width: auto;
  }

  .info-container {
    height: 30%;
    justify-content: center;
    align-items: center;

    height: 350px;
    top: 45px;
    width: 50%;
    text-align: center;
    margin: 20px;
  }

  .taco-detail-container img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;

    margin-top: 90px;
  }
  .name {
    font-size: 20px;
  }
  .price {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1355px) {
  .detail-container {
    height: 1100px;
  }
  .taco-detail-container img {
    width: 300px;
    height: auto;
  }
  /*    
    .info-container {
     height: 400px;
     
      justify-content: center;
      align-items: center;
      margin: 40px;
    }
    .name {
      font-size: 20px;
      
    }
    .price{
      font-size: 20px;
    } */
}

@media only screen and (max-width: 380px) {
  /* .detail-container{
  display: flex;
  flex-direction: row;
    } */
  .taco-detail-container .img {
    width: 25px;
    height: auto;
  }
}
/*   
  @media only screen and (max-width: 650px) {
    .name{
      width: 30px;
    }
    .taco-detail-container img{
      width: 300px;
      height: auto;
    }
    .name{
      font-size: 10px;
    }

  } */

/* @media only screen and (mad-width: 1300px){
    .taco-detail-container img{
      width: 100px;
      height: auto;
    }
  } */
