@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");

.carousel-images {
  width: 500px;
  height: 600px;
  border-radius: 25px;
}

.carousel-text {
  background-color: #edb345;
  opacity: 0.8;
  border-radius: 15px 50px;
  font-weight: bolder;
  color: #ba0014;
  font-family: "Short Stack", cursive;
  max-width: 65%;
  margin: 0 auto;
}

@media screen and (max-width: 949px) {
  .catInHat {
    width: 85%;
  }
  .carousel-images {
    width: 300px;
    height: 450px;
  }
}
