.formatContainer {
  height: 100vh;
}

.catInHat {
  display: flex;
  justify-content: center;
  /* background: yellow */
}

.formSignInContainer {
  align-self: center;
  padding: 1em;
  width: 50%;
  height: 80%;
  margin: 4em auto;
  border: 2px solid #b0bec5;
  border-radius: 6px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  background: #9da27a;
}

.formSignInContainer h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Ranchers";
}

.formSignInContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.formSignInContainer form input {
  width: 100%;
  padding: 0.6em 1em;
  margin: 0.5em auto;
  font-size: 1rem;
  border-radius: 3px;
  border: 2px solid #e0e0e0;
  outline: none;
  transition: all 0.4s ease;
  background-color: lightgrey;
}

.formSignInContainer form input:focus,
.formSignInContainer form input:active {
  border: 2px solid #82ada9;
}

.formSignInContainer form button {
  width: 50%;
  margin: 1em auto;
  background: goldenrod;
}

.formSignInContainer form button:hover {
  box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.5);
}

.formSignInContainer form a {
  margin: auto;
}

.formSignInContainer form label {
  margin-top: 0.6em;
}

.outterContainer {
  display: flex;
  flex-direction: row-reverse;
  background: #9da27a;
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  position: inherit;
  padding-right: 80px;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 2s ease;
}

.formSignInContainer label {
  font-size: 15px;
}

@media all and (min-width: 320px) and (max-width: 900px) {
  .outterContainer {
    flex-direction: column-reverse;
  }
}
